ol { background-color: yellow;}
ol li:nth-child(even) { color: green; }
ol li:nth-child(odd) {font-weight: bold;}
h1,h2,h3 {color: red;}
h1 em,h2 em,h3 em{font-size: 40px;border: 1px solid black; }
li {font-size: 20px;}
li em {font-weight: 900px;}
.linguagens li:nth-child(-n+3){color: blue; }

.linguagens li:nth-child (java)
{background-color: pink;}

.stack:hover {font-weight: bold;}
.stack li a[href="https://pt.stackoverflow.com/" ]:hover {color: orangered;}